@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<table>
    <tr>
        <td><video id="digit0"></video></td>
        <td><video id="digit1"></video></td>
        <td><video id="digit2"></video></td>
        <td><video id="digit3"></video></td>
    </tr>
    <tr>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td id="info0">-</td>
        <td id="info1">-</td>
        <td id="info2">-</td>
        <td id="info3">-</td>
    </tr>
</table>

